<template></template>

<script>
export default {
data: function() {
    return {
      model: {
        title: "",
        des: "",
        detail: "",
        category: 0,
        public: "True" ? true : false,
        data_pubblic: "",
        position: [],
        thumbs: ""
      }
    };
  },
  methods: {
    async postSomething() {
         const model = {
             ...this.model,
             position: this.model.position.map(item => +item)
         }
      axios.post("http://localhost:3000/blogs/", model).then(response => {
        const { data } = response;
        // this.info = data;
        console.log("=");
        router.push("ListBlog")
      });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
      console.log(file.name);
      
      this.thumbs = file.name;
    },
    removeImage: function(e) {
      this.image = "";
    }
  }
};
</script>
    
<style>
</style>