<template>
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Tin</td>
        <td>Loại</td>
        <td>Trạng thái</td>
        <td>Vị trí</td>
        <td>Ngày public</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="article in info" v-bind:key="article.id">
        <td>{{article.id}}</td>
        <td>{{article.des}}</td>
        <td>
          {{filterCategory(article.category)}}
          <!-- {{article.category}} -->
        </td>
        <td>
          <span v-if="article.public">Yes</span>
          <span v-else>No</span>
        </td>
        <td>
          {{filterPostion(article.position)}}
          <!-- {{article.position}} -->
        </td>
        <td>{{article.data_pubblic}}</td>
        <td>
          <nuxt-link :to="`/edit-blog/${article.id}`">Edit</nuxt-link>
        </td>
        <td>
          <button class="btn btn-danger" v-on:click="deleteRecord(article.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import axios from "axios";
import { POSITION, CATEGORY } from "~/constants/index";
export default {
  data: function() {
    return {
      data: null,
      info: null,
      position: POSITION,
      category: CATEGORY
    };
  },

  methods: {
    async fetchSomething() {
      axios.get("http://localhost:3000/blogs/").then(response => {
        const { data } = response;
        this.info = data;
        // console.log(this.info)
      });
    },
    deleteRecord: function(id) {
      axios
        .delete(`http://localhost:3000/blogs/` + id)
        .then(response => this.fetchSomething());
    },
    filterPostion: function(id) {      
      let pos = []
      id.forEach(elementid => {
        this.position.forEach(elementpos =>{
          if (elementpos.id == elementid) {
          pos.push(elementpos.name)
        }
        })
      });
      return pos.join()
      console.log(pos.join());
      
    },
    filterCategory: function(id) {
      let cat = []
        this.category.forEach(elementcat =>{
          if (elementcat.id == id) {
          cat.push(elementcat.name)
        }
        });
      return cat.join()
      console.log(cat.join());
    }
  },

  mounted() {
    this.fetchSomething();
  }
};
</script>
    
<style>
</style>