<template>
  <div>
    <h2>New Blogs</h2>

    <form class="form-group" v-on:submit.prevent="postSomething">
      <label>Title</label>
      <input class="form-control" v-model="model.title" placeholder="Title" />
      <label>Description</label>

      <input class="form-control" v-model="model.des" placeholder="Description" />
      <label>Detail</label>

      <textarea class="form-control" v-model="model.detail" placeholder="Detail"></textarea>

      <label>Thumbnails</label>
      <input class="form-control-file" type="file" v-on:change="onFileChange" />

      <label>Category</label>
      <select class="form-control" v-model="model.category">
        <option disabled value="0">Please select one</option>
        <option v-for="n in 9" :key="n" :value="n">{{filterCategory(n)}}</option>
      </select>

      <label>Public</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="one" value="True" v-model="model.public" />
        <label class="form-check-label" for="one">Yes</label>
        <br />
        <input class="form-check-input" type="radio" id="two" value="False" v-model="model.public" />
        <label class="form-check-label" for="two">No</label>
      </div>

      <label>Vị trí</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="jack"
          value="1"
          v-model="model.position"
        />
        <label class="form-check-label" for="jack">Việt Nam</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="john"
          value="2"
          v-model="model.position"
        />
        <label class="form-check-label" for="john">Châu Á</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="mike"
          value="3"
          v-model="model.position"
        />
        <label class="form-check-label" for="mike">Châu Âu</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="mike"
          value="4"
          v-model="model.position"
        />
        <label class="form-check-label" for="mike">Châu Mĩ</label>
        <br />
      </div>

      <label>Date Public</label>
      <input type="date" v-model="model.data_pubblic" />

      <br />

      <button class="btn btn-primary" type="submit">Post</button>
      <button class="btn" type="reset">Reset</button>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { POSITION, CATEGORY } from "~/constants/index";

export default {
  data: function() {
    return {
      model: {
        title: "",
        des: "",
        detail: "",
        category: 0,
        public: "True" ? true : false,
        data_pubblic: "",
        position: [],
        thumbs: ""
      },
      category: CATEGORY
    };
  },
  methods: {
    async postSomething() {
      const model = {
        ...this.model,
        position: this.model.position.map(item => +item),
        public: this.model.public == "True" ? true : false
      };
      axios.post("http://localhost:3000/blogs/", model).then(response => {
        const { data } = response;
        // this.info = data;
        this.$router.push("/ListBlog");
      });
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
      console.log(file.name);

      this.thumbs = file.name;
    },
    removeImage: function(e) {
      this.image = "";
    },
    filterCategory: function(id) {
      let cat = [];
      this.category.forEach(elementcat => {
        if (elementcat.id == id) {
          cat.push(elementcat.name);
        }
      });
      return cat.join();
      console.log(cat.join());
    }
  }
};
</script>

<style>
</style>