<template>
<div>

    <h2>Search blog</h2>
    <form class="form-group" v-on:submit.prevent="searchSomething">
        <label for="" class="form-label"> Tiêu đề </label>
        <input type="text" class="form-control" v-model="keyword">
        <button class="btn btn-success" type="submit"> Search </button>

    </form>

  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Tin</td>
        <td>Loại</td>
        <td>Trạng thái</td>
        <td>Vị trí</td>
        <td>Ngày public</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="article in info" v-bind:key="article.id">
        <td>
          {{article.id}}
        </td>
        <td>
          {{article.des}}
        </td>
        <td>
          {{article.category}}
        </td>
        <td>
          {{article.public}}
        </td>
        <td>
          {{article.position}}
        </td>
        <td>
          {{article.data_pubblic}}
        </td>
        <td>
          <nuxt-link :to="`/edit-blog/${article.id}`" > 
          Edit
          </nuxt-link>
        </td>
        <td>
          <button class="btn btn-danger" v-on:click="deleteRecord(article.id)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</template>

<script>
import axios from 'axios'
export default {
  data: function() {
    return {
      keyword: '',
      info: null
    };
  },

  methods: {
    async fetchSomething() {
      axios
        .get("http://localhost:3000/blogs/")
        .then(response => {
          const { data } = response
          this.info = data
          // console.log(this.info)
        });
    },
    searchSomething() {
        if (this.keyword.length > 0 || this.keyword) {
            axios
              .get(`http://localhost:3000/blogs?title=`+ this.keyword)
              .then(response => {
                const { data } = response
                this.info = data
                // console.log(this.info)
              });
        } else {
            this.fetchSomething()
        }
    },
    deleteRecord: function (id) {
      axios.delete(`http://localhost:3000/blogs/` + id).then(
        response => this.searchSomething()
      )
    }
  },

  mounted() {
    this.fetchSomething();
  }
};
</script>
    
<style>
</style>