<template>
  <div>
    <h2>New Blogs</h2>

    <Validation-observer v-slot="{ handleSubmit }">
      <form class="form-group" @submit.prevent="handleSubmit(putSomething)">
        <div class="form-group">
          <validation-provider rules="required" v-slot="{ errors }" name="Title">
            <label>Title</label>

            <input class="form-control" v-model="model.title" placeholder="Title" />
            <span>{{ errors[0] }}</span>
          </validation-provider>
        </div>

        <div class="form-group">
          <validation-provider rules="required" v-slot="{ errors }" name="Description">
            <label>Description</label>

            <input class="form-control" v-model="model.des" placeholder="Description" />
            <span>{{errors[0]}}</span>
          </validation-provider>
        </div>

        <div class="form-group">
          <validation-provider rules="required" v-slot="{ errors }" name="Detail">
            <label>Detail</label>
            <textarea class="form-control" v-model="model.detail" placeholder="Detail"></textarea>
            <span>{{errors[0]}}</span>
          </validation-provider>
        </div>

        <label>Thumbnails</label>
        <input class="form-control-file" type="file" @change="onFileChange" />

        <div class="form-group">
          <validation-provider rules="required" v-slot="{ errors }" name="Category">
            <label>Category</label>
            <select class="form-control" v-model="model.category">
              <option disabled value="0">Please select one</option>
              <option v-for="n in 12" :key="n" :value="n">{{filterCategory(n)}}</option>
            </select>
            <span>{{errors[0]}}</span>
          </validation-provider>
        </div>

        <label>Public</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="one" value="1" v-model="model.public" />
          <label class="form-check-label" for="one">Yes</label>
          <br />
          <input class="form-check-input" type="radio" id="two" value="0" v-model="model.public" />
          <label class="form-check-label" for="two">No</label>
        </div>

        <div class="form-group">
          <validation-provider rules="required" v-slot="{ errors }" name="Position">
            <label>Vị trí</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="jack"
                value="1"
                v-model="model.position"
              />
              <label class="form-check-label" for="jack">Việt Nam</label>
            </div>
            <span>{{errors[0]}}</span>
          </validation-provider>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="john"
              value="2"
              v-model="model.position"
            />
            <label class="form-check-label" for="john">Châu Á</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="mike"
              value="3"
              v-model="model.position"
            />
            <label class="form-check-label" for="mike">Châu Âu</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="mike"
              value="4"
              v-model="model.position"
            />
            <label class="form-check-label" for="mike">Châu Mĩ</label>
            <br />
          </div>
        </div>

        <div class="form-group">
          <validation-provider rules="required" v-slot="{ errors }" name="Date">
            <label>Date Public</label>
            <input type="date" v-model="model.data_pubblic" />
            <span>{{errors[0]}}</span>
          </validation-provider>
        </div>

        <br />

        <button class="btn btn-primary" type="submit">Post</button>
        <button class="btn" type="reset">Reset</button>
      </form>
    </Validation-observer>
  </div>
</template>

<script>
import axios from "axios";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { POSITION, CATEGORY } from "~/constants/index";
import { extend } from "vee-validate";

extend("required", {
  validate(value) {
    return {
      required: true,
      valid: ["", null, undefined].indexOf(value) === -1
    };
  },
  computesRequired: true
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: function() {
    return {
      model: {
        title: "",
        des: "",
        detail: "",
        category: 0,
        public: 0,
        data_pubblic: "",
        position: [],
        thumbs: ""
      },
      error: [],
      category: CATEGORY
    };
  },
  methods: {
    async putSomething() {
      this.errors = [];
      const id = this.$route.params.id;

      const model = {
        ...this.model,
        position: this.model.position.map(item => +item),
        public: this.model.public == 1 ? true : false
      };
      console.log(this.model.public.toString);

      axios
        .put(`http://localhost:3000/blogs/` + id, model)
        .then(response => {
          const { data } = response;
          // this.info = data;
          console.log("=");
          this.$router.push("/ListBlog");
        })
        .catch(error => console.log("Error !!!", error));
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = e => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
      console.log(2, file.name);

      this.thumbs = file.name;
    },
    removeImage: function(e) {
      this.image = "";
    },
    getSomething() {
      const id = this.$route.params.id;
      axios.get(`http://localhost:3000/blogs/` + id).then(response => {
        const { data } = response;

        this.model = data;

        this.model.public = +data.public;
        console.log(this.model.public);
      });
    },
    filterCategory: function(id) {
      let cat = [];
      this.category.forEach(elementcat => {
        if (elementcat.id == id) {
          cat.push(elementcat.name);
        }
      });
      return cat.join();
      console.log(cat.join());
    }
  },
  mounted() {
    this.getSomething();
  }
};
</script>
    
<style>
</style>